@import "tailwindcss";

@custom-variant dark (&:not(html));

@theme {
  --color-primary: #19e6a2;
  --color-background-light: #f6f8f7;
  --color-foreground-light: #0e1b17;
  --color-subtle-light: #d0e7df;
  --color-accent-light: #4e977f;
  
  --font-family-display: "Be Vietnam Pro", sans-serif;
  
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-family-display);
}
